/* Credits to https://codepen.io/HectorVilas/pen/yLjPYGX for the starting template and animations. */

:root {
	--grid-paper: 2px;
	--cell: 175px;
	--lines-draw-time: 3s;
	--lines-draw-delay: 150ms;
	--paper-bg:
		url(./resources/images/paper-grid-pattern.png),
		radial-gradient(at top left,
			rgba(212, 226, 173, 0.05),
			rgba(231, 236, 185, 0.25)
		),
		url(./resources/images/paper-textured-background.jpg);
}

html,
body {
	padding: 0;
	margin: 0;

}
html {
	height: 100vh;
	background: var(--paper-bg);
	background-position: center;
}

body {
	display: grid;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}



/* - - - board - - - */
.board {
	position: absolute;
	isolation: isolate;
	padding: var(--grid-paper);
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: var(--grid-paper);
	justify-self: center;
}

.cell {
	width: calc(var(--cell) - var(--grid-paper));
	height: calc(var(--cell) - var(--grid-paper));
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
} .cell:hover {
	background-color: rgba(231, 236, 185, 0.5);
	cursor: pointer;
}

.line {
	position: absolute;
	background: url(./resources/images/pencil-stroke.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 15px;
}

.winLine {
	position: absolute;
	background: url(./resources/images/pencil-stroke.png) no-repeat;
	background-size: 100% 100%;
	width: 85%;
	height: 15px;
}

.line.l1, .winLine.l5 {
	top: 33%;
	rotate: 1deg;
	clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.winLine.l5 {
	rotate: 0deg;
	top: 15%;
	left: 5%;
}
.line.l1.animate {
	animation: line-draw-1 var(--lines-draw-time) var(--lines-draw-delay);
	animation-fill-mode: forwards;
}
.winLine.l5.animate {
	animation: line-draw-1 var(--lines-draw-time) 10ms;
	animation-fill-mode: forwards;
}
@keyframes line-draw-1 {
	0%, 50% {clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%); }
	60%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.line.l2, .winLine.l6, .winLine.l7 {
	left: 0;
	bottom: 31%;
	rotate: 180deg;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.winLine.l6 {
	top: 50%;
	left: 5%;
}
.line.l2.animate {
	animation: line-draw-2 var(--lines-draw-time) var(--lines-draw-delay);
	animation-fill-mode: forwards;
}
.winLine.l6.aniamte, .winLine.l7.animate {
	animation: line-draw-2 var(--lines-draw-time) 10ms;
	animation-fill-mode: forwards;
}
@keyframes line-draw-2 {
	0%, 70% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
	80%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}
.line.l3, .winLine.l8, .winLine.l9, .winLine.l10 {
	rotate: 90.5deg;
	top: 49%;
	left: 17%;
	clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.winLine.l7 {
	top: 80%;
	left: 5%;
}
.winLine.l8 {
	left: -25%;
}
.winLine.l9 {
	left: 8%;
}
.winLine.l10 {
	left: 40%;
}
.line.l3.animate{
	animation: line-draw-3 var(--lines-draw-time) var(--lines-draw-delay);
	animation-fill-mode: forwards;
}
.winLine.l8.animate, .winLine.l9.animate, .winLine.l10.animate {
	animation: line-draw-3 var(--lines-draw-time) 10ms;
	animation-fill-mode: forwards;
}

@keyframes line-draw-3 {
	0%, 30% {clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%); }
	40%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}
.line.l4 {
	top: 50%;
	right: 17%;
	rotate: 270deg;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.line.l4.animate{
	animation: line-draw-4 var(--lines-draw-time) var(--lines-draw-delay);
	animation-fill-mode: forwards;
}
@keyframes line-draw-4 {
	0%, 10% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
	20%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.winLine.l11 {
	top: 50%;
	left: -2%;
	width: 110%;
	rotate: 45deg;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.winLine.l11.animate{
	animation: line-draw-5 var(--lines-draw-time) 10ms;
	animation-fill-mode: forwards;
}
@keyframes line-draw-5 {
	0%, 10% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
	20%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.winLine.l12 {
	top: 50%;
	left: -6%;
	width: 110%;
	rotate: 135deg;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.winLine.l12.animate{
	animation: line-draw-6 var(--lines-draw-time) 10ms;
	animation-fill-mode: forwards;
}
@keyframes line-draw-6 {
	0%, 10% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
	20%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.hand {
	position: absolute;
	left: 150%;
	top: 150%;
	transform-origin: 0 0;
	scale: 75%;
	transition: position .5s;
}
.hand.animate {
	animation: board-draw var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes board-draw {
	0% {left: 150%; top: 150%; }
	10% { left: 33%; top: 0% }
	20% { left: 33%; top: 100% }
	30% { left: 66%; top: 0% }
	40% { left: 66%; top: 100% }
	50% { left: 0%; top: 33%; }
	60% { left: 100%; top: 33%; }
	70% { left: 0%; top: 66%; }
	80% { left: 100%; top: 66%; }
	100% { left: 150%; top: 150%; }
}

.page-turn {
	position: absolute;
	left: 150%;
	top: 0%;
	z-index: 2;
	width: 100%;
	height: 150%;
	scale: 150%;
	transform: rotateY(50deg) skewY(2deg);
	filter: drop-shadow(-10rem 0 1rem rgba(0, 0, 0, .25));
	background: var(--paper-bg);
	box-shadow:
		inset -10rem 0 10rem rgba(0, 0, 0, .25),
		3rem 0 20rem rgba(0, 0, 0, .25);
	rotate: 5deg;
}
.page-turn.animate {
	animation: page-turning 1s;
}
@keyframes page-turning {
	0% {
		left: 150%;
		top: 0%;
		width: 100%;
		rotate: 5deg;
		filter: drop-shadow(-10rem 0 1rem rgba(0, 0, 0, .25));
	}
	100% {
		left: -350%;
		top: -30%;
		width: 300%;
		rotate: 2deg;
		filter: drop-shadow(-10rem 0 10rem rgba(0, 0, 0, .5));
	}
}



/* buttons */

.btn-start-game {
	z-index: 1;
	position: absolute;
	/*font-size: 1em;*/
	padding: .75rem 1rem;
	bottom: 10%;
}

/* cells */

.cell > img {
    max-width: 3em;
}

/* cross marker */

.cross {
    position: absolute;
	rotate: -45deg;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.cross.animate {
    animation: cross-animation 3800ms 50ms;
	animation-fill-mode: forwards;
}

@keyframes cross-animation {
    0%, 10% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
	20%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.cross2 {
    position: absolute;
    rotate: 45deg;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.cross2.animate {
    animation: cross-animation-two 4700ms 50ms;
	animation-fill-mode: forwards;
}

@keyframes cross-animation-two {
    0%, 20% {clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%); }
	30%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

/* circle marker */
.circle {
    position: absolute;
	clip-path: polygon(100% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
}
.circle.animate {
    animation: circle-animation 1200ms var(--lines-draw-delay);
	animation-fill-mode: forwards;
}

@keyframes circle-animation {
	0%, 10% {
		clip-path: polygon(100% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	20% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
	}
	30% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
	}
	40% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
	}
	50%, 100% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0);
	}
}


/* cross marker hand animations */

.hand.animate.cross-middle-left {
	 animation: cross-middle-left var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-middle-left {
	0% {left: 150%; top: 150%; }
	10% { left: 25%; top: 41%; }
	20% { left: 7%; top: 58%; }
	30% { left: 8%; top: 41%; }
	40% { left: 25%; top: 58%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.cross-middle {
	animation: cross-middle var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-middle {
   0% {left: 150%; top: 150%; }
   10% { left: 58%; top: 41%; }
   20% { left: 40%; top: 58%; }
   30% { left: 41%; top: 41%; }
   40% { left: 58%; top: 58%; }
   to {left: 150%; top: 150%; }
}

.hand.animate.cross-middle-right {
	animation: cross-middle-right var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-middle-right {
   0% {left: 150%; top: 150%; }
   10% { left: 91%; top: 41%; }
   20% { left: 73%; top: 58%; }
   30% { left: 75%; top: 41%; }
   40% { left: 91%; top: 58%; }
   to {left: 150%; top: 150%; }
}

.hand.animate.cross-bottom-left {
	animation: cross-bottom-left var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-bottom-left {
   0% {left: 150%; top: 150%; }
   10% { left: 25%; top: 74%; }
   20% { left: 7%; top: 91%; }
   30% { left: 8%; top: 74%; }
   40% { left: 25%; top: 91%; }
   to {left: 150%; top: 150%; }
}

.hand.animate.cross-bottom-middle {
	animation: cross-bottom-middle var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-bottom-middle {
	0% {left: 150%; top: 150%; }
	10% { left: 58%; top: 74%; }
	20% { left: 40%; top: 91%; }
	30% { left: 41%; top: 74%; }
	40% { left: 58%; top: 91%; }
	to {left: 150%; top: 150%; }
}

.hand.animate.cross-bottom-right {
	animation: cross-bottom-right var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-bottom-right {
	0% {left: 150%; top: 150%; }
	10% { left: 91%; top: 74%; }
	20% { left: 73%; top: 91%; }
	30% { left: 75%; top: 74%; }
	40% { left: 91%; top: 91%; }
	to {left: 150%; top: 150%; }
}

.hand.animate.cross-top-left {
	animation: cross-top-left var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-top-left {
	0% {left: 150%; top: 150%; }
	10% { left: 25%; top: 8%; }
	20% { left: 7%; top: 25%; }
	30% { left: 8%; top: 8%; }
	40% { left: 25%; top: 25%; }
	to {left: 150%; top: 150%; }
}

.hand.animate.cross-top-middle {
	animation: cross-top-middle var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-top-middle {
	0% {left: 150%; top: 150%; }
	10% { left: 58%; top: 8%; }
	20% { left: 40%; top: 25%; }
	30% { left: 41%; top: 8%; }
	40% { left: 58%; top: 25%; }
	to {left: 150%; top: 150%; }
}

.hand.animate.cross-top-right {
	animation: cross-top-right var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes cross-top-right {
	0% {left: 150%; top: 150%; }
	10% { left: 91%; top: 8%; }
	20% { left: 73%; top: 25%; }
	30% { left: 75%; top: 8%; }
	40% { left: 91%; top: 25%; }
	41%, 100% {left: 150%; top: 150%; }
}

/* circle marker hand animations */

.hand.animate.circle-middle-left {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-middle-left 1300ms linear;
}

@keyframes circle-middle-left {
	0% {left: 150%; top: 150%; }
	10% {left: 16.5%; top: 50%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 16.5%; top: 50%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-middle {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-middle 1300ms linear;
}

@keyframes circle-middle {
	0% {left: 150%; top: 150%; }
	10% {left: 50%; top: 50%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 50%; top: 50%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-middle-right {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-middle-right 1300ms linear;
}

@keyframes circle-middle-right {
	0% {left: 150%; top: 150%; }
	10% {left: 83%; top: 50%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 83%; top: 50%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-bottom-left {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-bottom-left 1300ms linear;
}

@keyframes circle-bottom-left {
	0% {left: 150%; top: 150%; }
	10% {left: 16.5%; top: 83%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 16.5%; top: 83%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-bottom-middle {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-bottom-middle 1300ms linear;
}

@keyframes circle-bottom-middle {
	0% {left: 150%; top: 150%; }
	10% {left: 50%; top: 83%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 50%; top: 83%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-bottom-right {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-bottom-right 1300ms linear;
}

@keyframes circle-bottom-right {
	0% {left: 150%; top: 150%; }
	10% {left: 83%; top: 83%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 83%; top: 83%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-top-left {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-top-left 1300ms linear;
}

@keyframes circle-top-left {
	0% {left: 150%; top: 150%; }
	10% {left: 16.5%; top: 17%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 16.5%; top: 17%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-top-middle {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-top-middle 1300ms linear;
}

@keyframes circle-top-middle {
	0% {left: 150%; top: 150%; }
	10% {left: 50%; top: 17%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 50%; top: 17%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.circle-top-right {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: circle-top-right 1300ms linear;
}

@keyframes circle-top-right {
	0% {left: 150%; top: 150%; }
	10% {left: 83%; top: 17%;}
	10% { transform: rotate(-45deg) translateX(4.2%) rotate(45deg); }
    50% { transform: rotate(360deg) translateX(4.2%) rotate(-360deg); }
	50% {left: 83%; top: 17%;} 
	100% {left: 150%; top: 150%; }
}

.hand.animate.row-one {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: row-one 1300ms linear;
}

@keyframes row-one {
	0% {left: 150%; top: 150%; }
	10% { left: 5%; top: 16%; }
	40% { left: 88%; top: 16%; }
    to {left: 150%; top: 150%; }
}


.hand.animate.row-two {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: row-two 1300ms linear;
}

@keyframes row-two {
	0% {left: 150%; top: 150%; }
	10% { left: 5%; top: 51%; }
	40% { left: 88%; top: 51%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.row-three{
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: row-three 1300ms linear;
}

@keyframes row-three {
	0% {left: 150%; top: 150%; }
	10% { left: 5%; top: 81%; }
	40% { left: 88%; top: 81%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.col-one {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: col-one var(--lines-draw-time) linear;
}

@keyframes col-one{
	0% {left: 150%; top: 150%; }
	10% { left: 17%; top: 9%; }
	40% { left: 16%; top: 92%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.col-two {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: col-two 1300ms linear;
}

@keyframes col-two {
	0% {left: 150%; top: 150%; }
	10% { left: 51%; top: 9%; }
	40% { left: 50%; top: 92%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.col-three {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: col-three 1300ms linear;
}

@keyframes col-three {
	0% {left: 150%; top: 150%; }
	10% { left: 83%; top: 9%; }
	40% { left: 82%; top: 92%; }
    to {left: 150%; top: 150%; }
	
}

.hand.animate.LR-diagonal {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: LR-diagonal 1300ms linear;
}

@keyframes LR-diagonal {
	0% {left: 150%; top: 150%; }
	10% { left: 15%; top: 13%; }
	40% { left: 91%; top: 90%; }
    to {left: 150%; top: 150%; }
}

.hand.animate.RL-diagonal {
	position: absolute;
	animation-delay: var(--lines-draw-delay);
    animation: RL-diagonal 1300ms linear;
}

@keyframes RL-diagonal {
	0% {left: 150%; top: 150%; }
	10% { left: 10%; top: 89%; }
	40% { left: 86%; top: 13%; }
    to {left: 150%; top: 150%; }
}

.player-label {
	display: flex;
	margin-top: 2em;
}

.player-1{
	margin-right: 40em;
}

.player-scores {
	display: flex;
	margin-top: -3em;
}

.score-1 {
	margin-right: 43.75em;
	margin-left: 1.5em;
}

.gamemode {
	display: flex;
	margin-top: 27em;
	justify-self: center;
}

.bot-levels {
	display:flex;
	justify-self: center;
	margin-top: -2em;
}

.hidden {
	display: none;
}


